<%= link_to '+ Новый проект', new_project_path, class: 'btn btn-outline-primary me-2' %>

<h1> Ваши проекты </h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col"><%= n = 0 %></th>
			<th scope="col">Название проекта</th>
			<th scope="col">Описание проекта</th>
			<th scope="col">Дата создания проекта</th>
			<th scope="col">Дата последнего обновления</th>
		</tr>
	</thead>
	<tbody>
	<% @projects.each do |project| %>
		<tr onclick="window.location='<%= project_path(project) %>'" style="cursor:pointer;">
			<th scope="row"> <%= n = n + 1 %></th>
			<td><%= project.title %></td>
			<td><%= project.body[0...50] + '...' %></td>
			<td><%= project.created_at %></td>
			<td><%= project.updated_at %></td>
		</tr>
	<% end %>
	</tbody>
</table>


